body {
  font-family: Inconsolata;
  background-color: #333;
  color: #ccc;
}

.page-header {
  color: #ccc;
}

.page-header a {
  color: #ccc
}

.site-footer {
  border: 0px !important;
}

.project-tagline {
  text-align: center;
}